$font_1 : 'metropolislight', Helvetica, Arial, sans-serif;
$font_1bold : 'metropolisbold', Helvetica, Arial, sans-serif;
$font_2 : 'Source Serif Pro', serif;
$font_landing : 'Lato', sans-serif;;
$font_icon: FontAwesome;

$black_1: #222222;
$black_2: #999999;
$black_3: #777777; // body
$blue_1: #2e96db;
$blue_2: #0a80be;
$blue_3: #e9f1ee;
$yellow: #f9c000; //#efc639
$white: #ffffff;

// Global
$color_1: $blue_1;
$color_2: #1C1C1C;
$color_3: $yellow;
$color_4: $blue_3;

// Navbar Background Color
$navbar_c1: #630959;

// Fonts
$font__body-color: $black_3;
$font__topbar-color: $white;
$font__topbar-nav-color: $white;
$font__topbar-nav-hover-color: $blue_2;
$font__navbar-color: $white;
$font__navbar-hover-color: $color_3;

// Background
$bg__topbar: $blue_1;

.bolder{
	font-weight: 600;
}

@import "mixin.scss";